<div class="container">
  <div class="fixed-top text-center div-new-user bg-primary mx-auto">
    <%= link_to 'New User', new_user_path(@user), class: 'text-white new-user' %>
    <i class="fas fa-plus fa-1x pt-1 text-center"></i>
  </div>
  <table class="table table-striped mt-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Cellphone</th>
      <th scope="col">Address</th>
      <th scope="col" colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="body-table">
        <th scope="row"><%= user.id %></th>
        <td><%= link_to user.first_name, user_path(user), class: 'link' %></td>
        <td><%= link_to user.last_name, user_path(user), class: 'link' %></td>
        <td><%= link_to user.email, user_path(user), class: 'link' %></td>
        <td><%= link_to user.cellphone, user_path(user), class: 'link' %></td>
        <td><%= link_to user.address, user_path(user), class: 'link' %></td>
        <% if user == current_user %>
          <td><%= link_to 'Edit', edit_user_path(user), class: 'text-success edit' %></td>
          <td><%= link_to 'Delete', user_path(user), method: :delete, class: 'text-danger delete' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

