<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <th scope="row"><%= link_to product.id, product_path(product), class: 'link' %></th>
          <td><%= link_to product.name, product_path(product), class: 'link' %></td>
          <td><%= link_to product.description, product_path(product), class: 'link' %></td>
          <td><%= link_to product.quantity, product_path(product), class: 'link' %></td>
          <td><%= link_to product.price, product_path(product), class: 'link' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
