<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><%= @product.id %></th>
        <td><%= @product.name%></td>
        <td><%= @product.description%></td>
        <td><%= @product.quantity%></td>
        <td><%= @product.price%></td>
      </tr>
    </tbody>
  </table>
</div>
