<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th colspan="2" >Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><%= @product.id %></th>
        <td><%= @product.name%></td>
        <td><%= @product.description%></td>
        <td><%= @product.quantity%></td>
        <td><%= @product.price%></td>
        <td><%= link_to 'Edit', edit_product_path(@product), class: 'text-success edit' %></td>
        <td><%= link_to 'Delete', product_path(@product), method: :delete, class: 'text-danger delete' %></td>
      </tr>
    </tbody>
  </table>
  <div class="images text-center">
    <h3 class="text-center text-success">Images</h3>
    <% @product.images.each do |image| %>
      <%= image_tag(url_for(image.avatar), size: '300x300',) %>
    <% end %>
  </div>
</div>

